.main {
  margin-bottom: 10%;
  width: 75vw;
  height: 55vh;
  flex: 1;
  overflow-y: auto;
  background-color: #272322;
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.5);
}

.seasonHead {
  color: #BE9E7C;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.25vw;
  text-shadow: 2px 4px 6px #000;
  font-family: 'Rochester', cursive;
  font-size: 200%;
  margin-top: 3%;
}

.season {
  text-align: center;
  color: #FCFEF1;
  text-shadow: 2px 4px 6px #000;
  letter-spacing: .5vw;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1vw;
  font-family: 'Pompiere', cursive;
  font-size: 110%;
}

